# Ignore build results
bin/
obj/
*.exe
*.dll
*.pdb

# Ignore Visual Studio files
.vscode/
*.user
*.suo

# Ignore NuGet packages
*.nupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
*.nuproj

# Others
*.log